<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
    <p th:text="${greeting}"></p>
    <div style="text-indent: 5%;">
        <p th:text="${head}"></p>
        <p th:text="${type}"></p>
        <p th:text="${category}"></p>
        <p th:text="${name}"></p>
        <p th:text="${format}"></p>
        <p th:text="${duration}"></p>
        <p th:text="${size}"></p>
        <p th:text="${width}"></p>
        <p th:text="${height}"></p>
        <p th:text="${url}"></p>
        <p th:text="${landscape_cover}"></p>
        <p th:text="${portrait_cover}"></p>
        <p th:text="${pre_image1}"></p>
        <p th:text="${pre_image2}"></p>
        <p th:text="${pre_image3}"></p>
        <p th:text="${thumbnail_url}"></p>
        <p th:text="${web_url}"></p>
        <p th:text="${uploader}"></p>
    </div>
    <p th:text="${BR}"></p>
    <p th:text="${company}"></p>
    <p th:text="${address}"></p>
    <img src="cid:mail_logo"/>
</body>
</html>