<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>审核图片 &middot; 易维视后台管理系统</title>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-table.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-datepicker.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-datepicker.zh-CN.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-table-locale-all.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jsencrypt.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/encrypt.js}"></script>
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
    <script type="text/javascript" th:src="@{/js/audit-image.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-table.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datepicker3.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="icon" th:href="@{/images/favicon.ico}"/>
    <script type="text/javascript">
        if (window!=top) // 判断当前的window对象是否是top对象
            top.location.href = window.location.href; // 如果不是，将top对象的网址自动导向被嵌入网页的网址

        window.onload = function () {
            $('#auditImagePage').addClass("active");
            getResource(1,15);
            getAuditNumber();
        };
    </script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://www.evistek.com" target="_blank">易维视</a>
        </div>
        <ul class="nav navbar-nav">
            <li id="homePage"><a th:href="@{/}" >Home</a></li>
            <li id="databasePage" sec:authorize="hasAnyRole('ADMIN', 'DBA')">
                <a th:href="@{/db/db.html}">数据库管理</a>
            </li>
            <li class="dropdown" sec:authorize="hasAnyRole('ADMIN', 'USER_MANAGER')">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">用户管理
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li id="userManagerPage"><a th:href="@{/manager/user.html}">管理Users</a></li>
                    <li id="adminManagerPage"><a th:href="@{/manager/admin.html}">管理Admins</a></li>
                    <li id="loggerManagerPage"><a th:href="@{/manager/logger.html}">管理Loggers</a></li>
                    <li><a href="javascript:void(0);" onclick="window.open('../mail/config')">管理邮件组</a></li>
                </ul>
            </li>
            <li class="dropdown" sec:authorize="hasAnyRole('ADMIN', 'UPLOAD')">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">资源上传
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li id="uploadImagePage"><a th:href="@{/upload/image.html}" >上传图片</a></li>
                    <li id="uploadVideoPage"><a th:href="@{/upload/video.html}" >上传视频</a></li>
                    <li id="uploadProductPage"><a th:href="@{/upload/product.html}" >上传广告</a></li>
                    <!--<li><a data-toggle="tab" href="#uploadApplications">上传应用</a></li>-->
                    <!--<li><a data-toggle="tab" href="#uploadVROnline">上传VR在线视频</a></li>-->
                </ul>
            </li>
            <li class="dropdown" sec:authorize="hasAnyRole('ADMIN', 'STAT')">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">资源统计
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li id="chartsPage"><a th:href="@{/stat/chart.html}" >统计图表</a></li>
                    <li id="devicesPage"><a th:href="@{/stat/device.html}" >设备统计</a></li>
                    <li id="downloadsPage"><a th:href="@{/stat/download.html}" >下载统计</a></li>
                    <li id="favoritesPage"><a th:href="@{/stat/favorite.html}" >收藏记录</a></li>
                    <li id="playRecordsPage"><a th:href="@{/stat/playRecord.html}" >播放记录</a></li>
                    <li id="newUsersPage"><a th:href="@{/stat/newUser.html}" >新增用户</a></li>
                    <li id="activeUsersPage"><a th:href="@{/stat/activeUser.html}" >活跃用户</a></li>
                    <li id="heatContentPage"><a th:href="@{/stat/heatContent.html}" >内容热度</a></li>
                </ul>
            </li>
            <li class="dropdown" sec:authorize="hasAnyRole('ADMIN', 'AUDIT')">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">资源审核
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li id="auditImagePage"><a th:href="@{/audit/image.html}" >图片审核</a></li>
                    <li id="auditVideoPage"><a th:href="@{/audit/video.html}" >视频审核</a></li>
                    <li id="auditProductPage"><a th:href="@{/audit/product.html}" >广告审核</a></li>
                </ul>
            </li>
            <li class="dropdown" sec:authorize="hasAnyRole('ADMIN', 'MODIFY')">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">资源修改
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li id="modifyImagePage"><a th:href="@{/modify/image.html}" >修改图片</a></li>
                    <li id="modifyVideoPage"><a th:href="@{/modify/video.html}" >修改视频</a></li>
                    <li id="modifyProductPage"><a th:href="@{/modify/product.html}" >修改广告</a></li>
                    <!--<li><a data-toggle="tab" href="#modifyCategory" onclick="getAllCategories();">修改分类</a></li>-->
                    <!--<li><a data-toggle="tab" href="#modifyVROnline" onclick="getAllVROlines();">修改VR在线视频</a></li>-->
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li id="userInfo" class="dropdown" >
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-user"></span> 用户信息</a>
                <ul class="dropdown-menu text-center">
                    <li><span id="username" th:text="'用户名:&nbsp;&nbsp;' + ${username}"></span></li>
                    <li role="presentation" class="divider"></li>
                    <li><span id="level" th:text="'权&nbsp;&nbsp;&nbsp;限:&nbsp;&nbsp;' + ${authority}"></span></li>
                    <li role="presentation" class="divider"></li>
                    <li>
                        <!--<form th:action="@{/admin/logout}" method="post">-->
                        <a th:href="@{/admin/login}">
                            <button id="exit" class="btn btn-primary btn-block" > 退出登录 </button>
                        </a>
                        <!--</form>-->
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<!--commonModal-->
<div class="modal" id="commonModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body" id="commonModalBody">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="commonModalSuccess">确定</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="imageModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">修改</h4>
            </div>
            <div class="modal-body">
                <label for="modify-imageId">imageId:</label>
                <input type="text" class="form-control" id="modify-imageId" disabled="disabled"/>
                <label for="modify-imageName">imageName:</label>
                <input type="text" class="form-control" id="modify-imageName" disabled="disabled"/>
                <label for="modify-imageCategoryId">imageCategoryId:</label>
                <div class="input-group dropdown">
                    <input type="text" class="form-control dropdown-toggle" id="modify-imageCategoryId" data-toggle="dropdown"/>
                    <div class="input-group-addon" data-toggle="dropdown">
                        <span class="caret"></span>
                    </div>
                    <ul class="dropdown-menu" id="imageCategoryId">
                    </ul>
                </div>
                <label for="modify-imageCategoryName">imageCategoryName:</label>
                <div class="input-group dropdown">
                    <input type="text" class="form-control dropdown-toggle" id="modify-imageCategoryName" data-toggle="dropdown"/>
                    <div class="input-group-addon" data-toggle="dropdown">
                        <span class="caret"></span>
                    </div>
                    <ul class="dropdown-menu" id="imageCategoryName">
                    </ul>
                </div>
                <label for="modify-imageCreateTime">imageCreateTime:</label>
                <div class="input-group date" data-provide="datepicker" id="imageCreateTime">
                    <input type="text" class="form-control" id="modify-imageCreateTime"/>
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </div>
                </div>
                <label for="modify-imageUpdateTime">imageUpdateTime:</label>
                <div class="input-group date" data-provide="datepicker" id="imageUpdateTime">
                    <input type="text" class="form-control" id="modify-imageUpdateTime"/>
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </div>
                </div>
                <label for="modify-imageFormat">imageFormat:</label>
                <input type="text" class="form-control" id="modify-imageFormat"/>
                <label for="modify-imageHeight">imageHeight:</label>
                <input type="text" class="form-control" id="modify-imageHeight"/>
                <label for="modify-imageWidth">imageWidth:</label>
                <input type="text" class="form-control" id="modify-imageWidth"/>
                <label for="modify-imageSize">imageSize:</label>
                <input type="text" class="form-control" id="modify-imageSize"/>
                <label for="modify-imageUrl">imageUrl:</label>
                <input type="text" class="form-control" id="modify-imageUrl"/>
                <label for="modify-imageThumbnail">imageThumbnail:</label>
                <input type="text" class="form-control" id="modify-imageThumbnail"/>
                <label for="modify-imageOwnerId">imageOwnerId:</label>
                <input type="text" class="form-control" id="modify-imageOwnerId"/>
                <label for="modify-imageAudit">imageAudit:</label>
                <input type="text" class="form-control" id="modify-imageAudit"/>
                <label for="modify-imageDownloadCount">imageDownloadCount:</label>
                <input type="text" class="form-control" id="modify-imageDownloadCount"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="updateImage();">确定</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<div id="resourceAudit"></div>
<footer class="afooter">
    <a id="abtn0"></a>
    <input id="apageSize" type="text" size="1" maxlength="2" value="getDefaultValue()"/>
    <a> 条 </a>
    <a id="asjzl"></a>
    <a href="#" id="abtn1">首页</a>
    <a href="#" id="abtn2">上一页</a>
    <a href="#" id="abtn3">下一页</a>
    <a href="#" id="abtn4">尾页</a>
    <a>转到</a>
    <input id="achangePage" type="text" size="1" maxlength="4"/>
    <a>页</a>
    <a href="#" id="abtn5">跳转</a>
</footer>
</body>
</html>